html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0px;
	height: 100%;
	background-color: #000;
	color: #fff;
	overflow: hidden;
	position: relative;
}

#debugDiv {
	display: none;
}

#loadingDiv {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#classroomConfirmDiv {
	display: none;
}

#classroomOptionsDiv {
	
}

#scrollerDiv {
	display: none;
}

#adminDiv {
	display: none;
}

#adminLoginDiv {
	display: none;
}

#newVersionDiv {
	display: none;
}